<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'AnimationIconBackground',
  computed: {
    icons() {
      return require
        .context('@/static/nuxt-images/icons/sdlc-icons')
        .keys()
        .map(
          (icon: string) =>
            `/nuxt-images/icons/sdlc-icons/${icon.replace('./', '')}`,
        );
    },
  },
  methods: {
    getDelay() {
      return Math.floor(Math.random() * (10 - 1) + 1);
    },
  },
});
</script>

<template>
  <div class="animation-icons">
    <div
      v-for="(icon, index) in icons"
      :key="index"
      class="animation-icons__icon"
      :style="`animation-delay: ${getDelay()}s`"
    >
      <img :src="icon" alt="" />
    </div>
  </div>
</template>

<style scoped lang="scss">
@keyframes fadeAnimatedIcon {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0;
    transform: translateY(400px);
  }
}

.animation-icons {
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    height: 30px;
    opacity: 0;
    animation: fadeAnimatedIcon 12s linear infinite forwards;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }

    img {
      height: 100%;
      fill: $color-secondary-200;
      pointer-events: none;
    }

    @media all and (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
</style>
