<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { LinkCards } from '../components/common/index';
import { Header as UpdateHeader } from '~/components/update/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    LinkCards,
    UpdateHeader,
  },
  async asyncData({ $content }) {
    const doc = await $content('update').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in doc.components"
      :key="component.name"
      :data="component.data"
    />
  </SlpContainer>
</template>
